.App {
  text-align: center;
  position: relative;
}

#gallery-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.selected-scene {
  display: flex;
  background: rgba(255, 255, 255, 0);
  height: 100%;
  justify-content: center;
  align-items: center;
}

.list-img{
  cursor: pointer;
}

.selected-scene img {
  width: auto;
  height: 70%;
  z-index: 1;
  position: absolute;
}

.close-selected-scene{
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 50px;
}
