.App {
  text-align: center;
  position: relative; 
}

#gallery-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  gap: 10px
}

.selected-scene{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: black; */
}

.list-img{
  cursor: pointer;
}

.selected-scene img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.close-selected-scene{
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  right: 0;
  position: absolute;
  font-size: 50px;
}
.mustafa-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px
}
